<nav class="container mx-auto p-5 flex justify-between items-center">
  <div>
    <%= link_to 'Simple Journal', root_path, class: 'text-xl lg: text-2xl font-bold hover:underline' %>
  </div>
  <ul class="flex items center text-sm lg:text-base gap-4 md:gap-5 lg:gap-10">
    <% if user_signed_in? %>
      <li><%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'block font-medium  hover:underline' %></li>
    <% end %>
  </ul>
</nav>